<form (ngSubmit)="onSaveCustomer()" [formGroup]="customerForm" *ngIf="!isLoading">
  <div class="btn-row">
    <button
    mat-raised-button
    type="submit"
    color="accent">{{ editMode ? "Update Customer" : "Add Customer"}}</button>
    <button
    mat-raised-button
    routerLink="/customers"
    color="accent">
      Back
    </button>
  </div>

  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <mat-tab-group>
        <mat-tab label="Info">
          <br>

            <mat-form-field>
                <input
                matInput
                type="text"
                placeholder="Legal name"
                name="name"
                formControlName="name">
                <mat-error *ngIf="">Please enter a valid name</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input
                matInput
                type="text"
                placeholder="VAT number"
                name="vat"
                formControlName="vat">
                <mat-error *ngIf="">Please enter a valid VAT number</mat-error>
              </mat-form-field>


        </mat-tab>

        <mat-tab label="Documents">
          <mat-list>
              <mat-nav-list>
                <a mat-list-item (click)="fsPicker.click()">Upload financial statements</a><input type="file" #fsPicker>
                <a mat-list-item (click)="cdPicker.click()">Upload the constitutional documents</a><input type="file" #cdPicker>
                <a mat-list-item (click)="idPicker.click()">Upload the ID</a><input type="file" #idPicker>
                <a mat-list-item (click)="adPicker.click()">Upload the bank account details</a><input type="file" #adPicker>
              </mat-nav-list>
          </mat-list>
        </mat-tab>
      </mat-tab-group>

  </mat-card>
</form>
