<div class="btn-row">
    <button
    mat-raised-button
    color="accent"
    routerLink="/customers/new-customer">
    New Customer
    </button>
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="customers && !isLoading">
  <mat-expansion-panel *ngFor="let customer of customers">
    <mat-expansion-panel-header>
      {{ customer.name }}
    </mat-expansion-panel-header>
    <p>{{ customer.vat }}</p>
    <mat-action-row>
      <button mat-flat-button color="primary">QUOTES</button>
      <button mat-button color="primary" [routerLink]="['/customers/edit', customer.id]">EDIT</button>
      <button mat-button color="warn" (click)="onDelete(customer.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p class="info-text mat-body-1" *ngIf="!customers && !isLoading">You don't have any customer yet.</p>
