<mat-accordion multi="true" *ngIf="customers">
  <mat-expansion-panel *ngFor="let customer of customers">
    <mat-expansion-panel-header>
      {{ customer.name }}
    </mat-expansion-panel-header>
    <p>{{ customer.vat }}</p>
    <mat-action-row>
      <button mat-flat-button color="primary">QUOTES</button>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p class="info-text mat-body-1" *ngIf="!customers">You don't have any customer yet.</p>
